NODE_ENV='development'
PORT='3000'

API_PREFIX='api/v1'

SWAGGER_ENABLED=true
SWAGGER_PREFIX='docs'
SWAGGER_VERSION='1.0'
SWAGGER_TITLE='Title'
SWAGGER_DESCRIPTION='Description'

POSTGRES_DB='test'
POSTGRES_USER='test'
POSTGRES_PASSWORD='test'

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"

WS_API_URL='wss://beta-ws.kraken.com'
ASSET_PAIRS_ENDPOINT_URL='https://api.kraken.com/0/public/AssetPairs'

BCRYPT_SALT='salt'
JWT_SECRET='secretKey'
JWT_EXPIPES_TIME='1d'
